@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.font-display {
  font-family: 'Anton', sans-serif;
}